{
	"block-external-extensions": {
		"Description": "",
		"Tags": ["SECURITY"],
		"Configs": {
			"BlockExternalExtensions": {
				"Type": "Policy",
				"Value": true
			}
		}
	},
	"block-native-messaging": {
		"Description": "Prevents extensions from communicating with native apps",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to block extensions from communicating with locally installed apps (such as for password management integration)?",
		"Configs": {
			"NativeMessagingBlocklist": {
				"Type": "Policy",
				"Value": ["*"]
			}
		}
	},
	"block-third-party-cookies": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"BlockThirdPartyCookies": {
				"Type": "Policy",
				"Value": true,
				"Recommendable": true
			}
		}
	},
	"clear-site-data-on-exit": {
		"Description": "Clears data on exit",
		"Tags": ["PRIVACY", "SECURITY", "OPTIONAL"],
		"Option": "Do you want to clear all history, website data, site settings, and passwords when closing the browser?",
		"Configs": {
			"ClearBrowsingDataOnExitList": {
				"Type": "Policy",
				"Value": ["browsing_history","download_history","cookies_and_other_site_data","cached_images_and_files","password_signin","autofill","site_settings","hosted_app_data"],
				"Negates": ["clear-site-data-on-exit-partial"]
			}
		}
	},
	"clear-site-data-on-exit-partial": {
		"Description": "Clears data on exit",
		"Tags": ["PRIVACY"],
		"Configs": {
			"ClearBrowsingDataOnExitList": {
				"Type": "Policy",
				"Value": ["download_history","cached_images_and_files","autofill"]
			}
		}
	},
	"clear-windowname-property": {
		"Description": "Prevents the window.name property from being leaked across sites",
		"Tags": ["PRIVACY"],
		"Configs": {
			"ClearCrossSiteCrossBrowsingContextGroupWindowName": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"disable-ai-features": {
		"Description": "Disable AI integrations",
		"Tags": ["PRIVACY"],
		"Configs": {
			"AimEnabled": {
				"Type": "Feature",
				"Enable": false
			},
			"AIModeSettings": {
				"Type": "Policy",
				"Value": 1
			},
			"AutofillPredictionSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"AutomatedPasswordChangeSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"BuiltInAIAPIsEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"ChromeSuggestionsSettings": {
				"Type": "Policy",
				"Value": 1
			},
			"CreateThemesSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"DevToolsGenAiSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"GeminiSettings": {
				"Type": "Policy",
				"Value": 1
			},
			"GeminiSparkSettings": {
				"Type": "Policy",
				"Value": 1
			},
			"GeminiActOnWebSettings": {
				"Type": "Policy",
				"Value": 1
			},
			"GenAILocalFoundationalModelSettings": {
				"Type": "Policy",
				"Value": 1
			},
			"GoogleSearchSidePanelEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"HelpMeWriteSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"HistorySearchSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"LensStandalone": {
				"Type": "Feature",
				"Enable": false
			},
			"SearchContentSharingSettings": {
				"Type": "Policy",
				"Value": 1,
				"Negates": ["disable-lens-overlay"]
			},
			"StarterPackExpansion": {
				"Type": "Feature",
				"Enable": false
			},
			"TabCompareSettings": {
				"Type": "Policy",
				"Value": 2
			},
			"TranslatorAPIAllowed": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-lens-overlay": {
		"Description": "Disable AI integration with image search",
		"Tags": ["PRIVACY"],
		"Configs": {
			"LensOverlay": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-alternate-error-pages": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"AlternateErrorPagesEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-audio-and-video-input": {
		"Description": "Use fake devices for audio and video input, effectively preventing the use of microphone and camera",
		"Tags": ["PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable camera and microphone usage?",
		"Configs": {
			"use-fake-device-for-media-stream": {
				"Type": "Flag"
			}
		}
	},
	"disable-autofill-server-communication": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"AutofillServerCommunication": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-autofill-features": {
		"Description": "Disable autofill, credential, and password management, as well as related features",
		"Tags": ["SECURITY", "PRIVACY"],
		"Configs": {
			"AutofillAddressEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			},
			"AutofillCreditCardEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			},
			"PasswordLeakDetectionEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"PasswordManagerEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			},
			"PaymentMethodQueryEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-background-mode": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"BackgroundModeEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			}
		}
	},
	"disable-browser-labs": {
		"Description": "Hide browser labs UI",
		"Tags": ["ANNOYANCE"],
		"Configs": {
			"BrowserLabsEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-browser-signin": {
		"Description": "Disables account sign-in with the browser",
		"Tags": ["PRIVACY"],
		"Configs": {
			"BrowserSignin": {
				"Type": "Policy",
				"Value": 0
			}
		}
	},
	"disable-canvas-rendering": {
		"Description": "Disable fingerprintable 2D graphics API",
		"Tags": ["SECURITY", "PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable Canvas rendering? (websites depending on this feature will not work very well)",
		"Configs": {
			"disable-reading-from-canvas": {
				"Type": "Flag"
			}
		}
	},
	"disable-chrome-variations": {
		"Description": "Prevents Chromium from overriding features remotely",
		"Tags": ["PRIVACY"],
		"Configs": {
			"ChromeVariations": {
				"Type": "Policy",
				"Value": 2
			}
		}
	},
	"disable-random-features": {
		"Description": "Disables random features that can reduce privacy",
		"Tags": ["PRIVACY"],
		"Configs": {
			"ClickToCallEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"SharedClipboardEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"ShoppingListEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-cloudapauth": {
		"Description": "Disables automatic Microsoft cloud identity authentication",
		"Tags": ["PRIVACY", "WINDOWS_ONLY"],
		"Configs": {
			"CloudAPAuthEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-component-pings": {
		"Description": "Reduces data sent to the component updater",
		"Tags": ["PRIVACY"],
		"Configs": {
			"component-updater": {
				"Type": "Flag",
				"Arguments": ["disable-pings"]
			}
		}
	},
	"disable-content-settings-sensors": {
		"Description": "Disable sensors permission",
		"Tags": ["SECURITY", "PRIVACY"],
		"Configs": {
			"DefaultSensorsSetting": {
				"Type": "Policy",
				"Value": 2
			}
		}
	},
	"disable-content-suggestion-feeds": {
		"Description": "Disable content suggestions",
		"Tags": ["PRIVACY"],
		"Configs": {
			"InterestFeedV2": {
				"Type": "Feature",
				"Enable": false
			},
			"NTPPopularSitesBakedInContent": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-crash-reporting": {
		"Description": "Disable crash reporting",
		"Tags": ["PRIVACY"],
		"Configs": {
			"disable-breakpad": {
				"Type": "Flag"
			},
			"disable-crash-reporter": {
				"Type": "Flag"
			}
		}
	},
	"disable-default-browser-check": {
		"Description": "Disable default browser check",
		"Tags": ["ANNOYANCE"],
		"Configs": {
			"no-default-browser-check": {
				"Type": "Flag"
			},
			"DefaultBrowserSettingEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-extension-developer-settings": {
		"Description": "Disables extension developer mode",
		"Tags": ["SECURITY"],
		"Configs": {
			"ExtensionDeveloperModeSettings": {
				"Type": "Policy",
				"Value": 1
			}
		}
	},
	"disable-extensions": {
		"Description": "Disable all extensions",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to block all extensions?",
		"Configs": {
			"disable-extensions": {
				"Type": "Flag",
				"Negates": [ "extensions-deny-all" ]
			}
		}
	},
	"disable-font-rendering": {
		"Description": "Disable rendering remote fonts",
		"Tags": ["SECURITY", "PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable remote font rendering? (some websites with remote fonts, like some types of emojis, will not look very good)",
		"Configs": {
			"disable-remote-fonts": {
				"Type": "Flag"
			}
		}
	},
	"disable-hardware-acceleration": {
		"Description": "Disable HWAccel, reduces attack surface and prevents some HW based fingerprinting but reduces performance, also disables WebGL and WebGPU if a software rendering alternative isn't available",
		"Tags": ["SECURITY", "PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable hardware acceleration? (this can cause performance slowdowns)",
		"Configs": {
			"HardwareAccelerationModeEnabled": {
				"Type": "Policy",
				"Value": false,
				"Negates": [ "disable-hardware-acceleration-flag" ]
			}
		}
	},
	"disable-hardware-acceleration-flag": {
		"Description": "",
		"Tags": ["SECURITY", "PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable hardware acceleration? (this can cause performance slowdowns)",
		"Configs": {
			"disable-gpu": {
				"Type": "Flag"
			}
		}
	},
	"disable-history-clusters": {
		"Description": "Disable history journeys",
		"Tags": ["ANNOYANCE"],
		"Configs": {
			"Journeys": {
				"Type": "Feature",
				"Enable": false
			},
			"HistoryClustersVisible": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-hyperlink-auditing": {
		"Description": "Disables hyperlink auditing",
		"Tags": ["PRIVACY"],
		"Configs": {
			"no-pings": {
				"Type": "Flag"
			}
		}
	},
	"disable-in-product-help-features": {
		"Description": "Hides features promotions and tips",
		"Tags": ["ANNOYANCE"],
		"Configs": {
			"propagate-iph-for-testing": {
				"Type": "Flag"
			}
		}
	},
	"disable-javascript-jit": {
		"Description": "Disables Just-In-Time (JIT) compiled JavaScript, JIT is a massive security risk, it should be disabled by default, but it can risk approx 5-50%% performance loss depending on the website. Also disables WebAssembly on most browsers. For Windows, uses Arbitrary Code Guard (ACG) to prevent renderer processes from violating W^X, and enables the Intel hardware shadow stack to enforce backward-edge CFI",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to disable Just-In-Time (JIT) compiled JavaScript? (this can cause performance slowdowns, this cannot be exempted per-site)",
		"Configs": {
			"js-flags": {
				"Type": "Flag",
				"Arguments": ["--jitless"],
				"Negates": ["disable-javascript-optimizers", "disable-javascript-jit-policy", "disable-javascript-optimizers-policy"]
			}
		}
	},
	"disable-javascript-jit-policy": {
		"Description": "",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to disable Just-In-Time (JIT) compiled JavaScript via policy? (this can cause somewhat big performance slowdowns, this can be exempted per-site with the policy JavaScriptJitAllowedForSites)",
		"Configs": {
			"DefaultJavaScriptJitSetting": {
				"Type": "Policy",
				"Value": 2
			}
		}
	},
	"disable-javascript-optimizers": {
		"Description": "Disables optimizers for JavaScript, reduces security risk of JIT compilation without fully disabling it",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to disable JavaScript Optimizing compilers? (this can cause decent performance slowdowns, this cannot be exempted per-site)",
		"Configs": {
			"js-flags": {
				"Type": "Flag",
				"Arguments": ["--disable-optimizing-compilers"],
				"Negates": ["disable-javascript-optimizers-policy"]
			}
		}
	},
	"disable-javascript-optimizers-policy": {
		"Description": "",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to disable JavaScript Optimizing compilers via policy? (this can cause decent performance slowdowns, this can be exempted per-site with the policy JavaScriptOptimizersAllowedForSites)",
		"Configs": {
			"DefaultJavaScriptOptimizersSetting": {
				"Type": "Policy",
				"Value": 2
			}
		}
	},
	"disable-media-drm-preconnection": {
		"Description": "Prevents DRM related communication before needed",
		"Tags": ["PRIVACY"],
		"Configs": {
			"MediaDrmPreprovisioning": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-media-recommendations": {
		"Description": "",
		"Tags": ["PRIVACY", "ANNOYANCE"],
		"Configs": {
			"MediaRecommendationsEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-media-router": {
		"Description": "Disable Chrome Cast",
		"Tags": ["PRIVACY"],
		"Configs": {
			"EnableMediaRouter": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-ntp-cards": {
		"Description": "Disables new tab page service integrations and utilities",
		"Tags": ["PRIVACY", "ANNOYANCE"],
		"Configs": {
			"NTPCardsVisible": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-optimization-guides": {
		"Description": "Disables Optimization Guides, which includes certain AI features",
		"Tags": ["PRIVACY"],
		"Configs": {
			"OptimizationHints": {
				"Type": "Feature",
				"Enable": false
			},
			"OptimizationHintsFetchingSRP": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-preloading": {
		"Description": "Disable network predictions",
		"Tags": ["PRIVACY"],
		"Configs": {
			"NetworkPredictionOptions": {
				"Type": "Policy",
				"Value": 2,
				"Recommendable": true
			}
		}
	},
	"disable-privacy-sandbox-features": {
		"Description": "Disables privacy sandbox features, these are on the way out so they are here until the deprecation process is complete (est. v150)",
		"Tags": ["PRIVACY"],
		"Configs": {
			"BrowsingTopics": {
				"Type": "Feature",
				"Enable": false
			},
			"BrowsingTopicsDocumentAPI": {
				"Type": "Feature",
				"Enable": false
			},
			"BrowsingTopicsParameters": {
				"Type": "Feature",
				"Enable": false
			},
			"PrivacySandboxSettings4": {
				"Type": "Feature",
				"Enable": false
			},
			"PrivacySandboxAdMeasurementEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"PrivacySandboxAdTopicsEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"PrivacySandboxPromptEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"PrivacySandboxSiteEnabledAdsEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"RelatedWebsiteSetsEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-promotions": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"PromotionsEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-protected-content-ids": {
		"Description": "Disables sharing and storing IDs used for DRM enforcement",
		"Tags": ["WINDOWS_ONLY", "PRIVACY"],
		"Configs": {
			"ProtectedContentIdentifiersAllowed": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-reporting-apis": {
		"Description": "Disables the use of the Reporting API in various contexts",
		"Tags": ["PRIVACY"],
		"Configs": {
			"Reporting": {
				"Type": "Feature",
				"Enable": false
			},
			"CrashReporting": {
				"Type": "Feature",
				"Enable": false
			},
			"DocumentReporting": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-remoting-features": {
		"Description": "Why is there remote access in a browser?",
		"Tags": ["SECURITY", "PRIVACY"],
		"Configs": {
			"RemoteAccessHostAllowRemoteAccessConnections": {
				"Type": "Policy",
				"Value": false
			},
			"RemoteAccessHostFirewallTraversal": {
				"Type": "Policy",
				"Value": false
			},
			"RemoteDebuggingAllowed": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-safe-browsing": {
		"Description": "Disable safe browsing",
		"Tags": ["PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable safe browsing? (this can reduce security in favor of privacy, since some sites and some site info will be sent to Google to assess the site as a threat or not)",
		"Configs": {
			"SafeBrowsingProtectionLevel": {
				"Type": "Policy",
				"Value": 0,
				"Recommendable": true
			}
		}
	},
	"disable-safe-browsing-features": {
		"Description": "Disable privacy intrusive features features related to safe browsing",
		"Tags": ["PRIVACY"],
		"Configs": {
			"SafeBrowsingDeepScanningEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"SafeBrowsingExtendedReportingEnabled": {
				"Type": "Policy",
				"Value": false
			},
			"SafeBrowsingSurveysEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-search-suggestions": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"SearchSuggestEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-sharing-hub": {
		"Description": "Hide sharing hub UI",
		"Tags": ["ANNOYANCE"],
		"Configs": {
			"DesktopSharingHubEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-software-rendering-accel": {
		"Description": "Disable software fallback for graphical rendering",
		"Tags": ["SECURITY"],
		"Configs": {
			"AllowSwiftShaderFallback": {
				"Type": "Feature",
				"Enable": false
			},
			"AllowSoftwareGLFallbackDueToCrash": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-spellcheck-service": {
		"Description": "Disables Google spellcheck service",
		"Tags": ["PRIVACY"],
		"Configs": {
			"SpellCheckServiceEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-sync": {
		"Description": "Disable sync services",
		"Tags": ["PRIVACY"],
		"Configs": {
			"SyncDisabled": {
				"Type": "Policy",
				"Value": true
			}
		}
	},
	"disable-tab-hover-cards": {
		"Description": "Prevents rendering sites in the hover card",
		"Tags": ["SECURITY", "ANNOYANCE"],
		"Configs": {
			"TabHoverCardImages": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-telemetry": {
		"Description": "Disable in-browser telemetry and reporting",
		"Tags": ["PRIVACY"],
		"Configs": {
			"MetricsReportingEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			},
			"UrlKeyedAnonymizedDataCollectionEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			}
		}
	},
	"disable-translations": {
		"Description": "Disable in-browser telemetry and reporting",
		"Tags": ["PRIVACY"],
		"Configs": {
			"TranslateEnabled": {
				"Type": "Policy",
				"Value": false,
				"Recommendable": true
			},
			"LiveTranslateEnabled": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-user-feedback": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"UserFeedbackAllowed": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"disable-webgl": {
		"Description": "",
		"Tags": ["SECURITY", "PRIVACY", "OPTIONAL"],
		"Option": "Do you want to disable WebGL? (websites depending on this feature will not work)",
		"Configs": {
			"disable-webgl": {
				"Type": "Flag"
			},
			"disable-3d-apis": {
				"Type": "Flag"
			},
			"Disable3DAPIs": {
				"Type": "Policy",
				"Value": true
			}
		}
	},
	"disable-webgpu": {
		"Description": "Disable WebGPU, not provably secure yet",
		"Tags": ["SECURITY", "PRIVACY"],
		"Configs": {
			"WebGPUBlobCache": {
				"Type": "Feature",
				"Enable": false
			},
			"WebGPUService": {
				"Type": "Feature",
				"Enable": false
			}
		}
	},
	"disable-webrtc-ip-sharing": {
		"Description": "Prevents IP leakage from WebRTC, can cause issues with web calling services like Discord",
		"Tags": ["PRIVACY"],
		"Configs": {
			"WebRtcIPHandling": {
				"Type": "Policy",
				"Value": "disable_non_proxied_udp",
				"Negates": ["disable-webrtc-ip-sharing-flag"]
			}
		}
	},
	"disable-webrtc-ip-sharing-flag": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"webrtc-ip-handling-policy": {
				"Type": "Flag",
				"Arguments": ["disable_non_proxied_udp"]
			}
		}
	},
	"disable-webrtc-reporting": {
		"Description": "",
		"Tags": ["PRIVACY"],
		"Configs": {
			"WebRtcTextLogCollectionAllowed": {
				"Type": "Policy",
				"Value": false
			}
		}
	},
	"dns-over-https": {
		"Description": "Enable encrypted DNS to specific resolver",
		"Tags": ["SECURITY", "PRIVACY", "OPTIONAL"],
		"Option": "Do you want to enable DoH in the browser?",
		"Configs": {
			"DnsOverHttpsMode": {
				"Type": "Policy",
				"Value": "secure",
				"Negates": ["dns-over-https-automatic"]
			},
			"DnsOverHttpsTemplates": {
				"Type": "Policy",
				"Value": "https://freedns.controld.com/p2"
			}
		}
	},
	"dns-over-https-automatic": {
		"Description": "Enable automatic use of encrypted DNS if available by the system/network DNS",
		"Tags": ["SECURITY", "PRIVACY"],
		"Configs": {
			"DnsOverHttpsMode": {
				"Type": "Policy",
				"Value": "automatic"
			}
		}
	},
	"enable-audio-service-sandbox": {
		"Description": "Enable process mitigations for the audio service process",
		"Tags": ["SECURITY"],
		"Configs": {
			"AudioSandboxEnabled": {
				"Type": "Policy",
				"Value": true,
				"Negates": ["enable-audio-service-sandbox-feature"]
			}
		}
	},
	"enable-audio-service-sandbox-feature": {
		"Description": "",
		"Tags": ["SECURITY"],
		"Configs": {
			"AudioServiceSandbox": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"enable-certificate-transparency": {
		"Description": "",
		"Tags": ["SECURITY"],
		"Configs": {
			"CertificateTransparencyAskBeforeEnabling": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"enable-csrss-lockdown": {
		"Description": "Prevents renderer processes from having access to the CSRSS service",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"EnableCsrssLockdown": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"enable-download-prompt": {
		"Description": "",
		"Tags": ["SECURITY"],
		"Configs": {
			"PromptForDownloadLocation": {
				"Type": "Policy",
				"Value": true
			}
		}
	},
	"enable-dynamic-code-restriction": {
		"Description": "Uses ACG for the browser process to enforce W^X. Note, this can crash certain poorly written apps based on Chromium or Electron that read Chrome's policy registry when they should, if this happens report this issue to them",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"DynamicCodeSettings": {
				"Type": "Policy",
				"Value": 1
			}
		}
	},
	"enable-sandboxed-subframe-isolation": {
		"Description": "Isolate sandboxed iframes by their document, rather than process sharing by site or origin",
		"Tags": ["SECURITY"],
		"Configs": {
			"IsolateSandboxedIframes:grouping/per-document": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"extensions-allowlist": {
		"Description": "Allow specific extensions, this specific value only allows uBlock Origin Lite",
		"Tags": [],
		"Configs": {
			"ExtensionInstallAllowlist": {
				"Type": "Policy",
				"Value": ["ddkjiahejlhfcafbddmgiahcphecmpfh", "nngceckbapebfimnlniiiahkandclblb", "oboonakemofpalcgghocfoadofidjkkk"]
			}
		}
	},
	"extensions-deny-all": {
		"Description": "Block all extensions by default",
		"Tags": ["SECURITY", "OPTIONAL"],
		"Option": "Do you want to block extensions other than a specific allowlisted set? (currently just uBlock Origin Lite, Bitwarden, and KeePassXC)",
		"Configs": {
			"ExtensionInstallBlocklist": {
				"Type": "Policy",
				"Value": ["*"]
			}
		}
	},
	"extensions-limit-types": {
		"Description": "Block extensions that are not either themes or regular extensions (example of blocked type, user script)",
		"Tags": ["SECURITY"],
		"Configs": {
			"ExtensionAllowedTypes": {
				"Type": "Policy",
				"Value": ["extension", "theme"]
			},
			"ExtensionsManifestV3Only": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"extensions-access-restrictions": {
		"Description": "Limit extension permission by default, such as restricting MV3 extensions' access to websites by default",
		"Tags": ["SECURITY", "PRIVACY"],
		"Configs": {
			"AllowWithholdingExtensionPermissionsOnInstall": {
				"Type": "Feature",
				"Enable": true
			},
			"DebuggerAPIRestrictedToDevMode": {
				"Type": "Feature",
				"Enable": true
			},
			"SearchEngineUnconditionalDialog": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"https-only-mode": {
		"Description": "Force HTTPS-only mode",
		"Tags": ["SECURITY"],
		"Configs": {
			"HttpsOnlyMode": {
				"Type": "Policy",
				"Value": "force_enabled"
			}
		}
	},
	"incognito-launch": {
		"Description": "To encourage ephemerality, with globally persistent flags it can also launch external links in Incognito",
		"Tags": ["PRIVACY", "OPTIONAL"],
		"Option": "Do you want to launch in Incognito mode?",
		"Configs": {
			"incognito": {
				"Type": "Flag"
			}
		}
	},
	"limit-referrer-to-origin": {
		"Description": "Limits the referrer to only send the origin of the URL. E.g. just 'google.com' instead of 'google.com/search'",
		"Tags": ["PRIVACY"],
		"Configs": {
			"CapReferrerToOriginOnCrossOrigin": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"local-network-access-checks": {
		"Description": "Prevents sites from being able to access localhost addresses",
		"Tags": ["PRIVACY"],
		"Configs": {
			"LocalNetworkAccessChecksWebRTC": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"mac-syscall-sandbox": {
		"Description": "Enables syscall filtering for the sandbox on MacOS",
		"Tags": ["SECURITY", "MACOS_ONLY", "EXPERIMENTAL"],
		"Configs": {
			"MacSyscallSandbox": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"mac-network-process-code-signing": {
		"Description": "Mandates code signing on the network process on MacOS",
		"Tags": ["SECURITY", "MACOS_ONLY", "EXPERIMENTAL"],
		"Configs": {
			"ValidateNetworkServiceProcessIdentity": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"network-service-sandbox": {
		"Description": "Enables various mitigations and restrictions for the network process",
		"Tags": ["SECURITY"],
		"Configs": {
			"NetworkServiceSandboxEnabled": {
				"Type": "Policy",
				"Value": true,
				"Negates": ["network-service-sandbox-feature"]
			}
		}
	},
	"network-service-sandbox-feature": {
		"Description": "",
		"Tags": ["SECURITY"],
		"Configs": {
			"NetworkServiceSandbox": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"network-service-sandbox-windows": {
		"Description": "Improve restrictions on the network service sandbox on Windows",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"NetworkServiceCodeIntegrity": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"partitionalloc-advanced-checks": {
		"Description": "Enable stricter memory security checks",
		"Tags": ["SECURITY"],
		"Configs": {
			"PartitionAllocWithAdvancedChecks:enabled-processes/all-processes": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"origin-keyed-processes": {
		"Description": "Isolates sites based on Origin Key header",
		"Tags": ["SECURITY"],
		"Configs": {
			"OriginKeyedProcessesByDefault": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"partitioning-improvements": {
		"Description": "Isolates various pieces of data to prevent cross-site tracking",
		"Tags": ["PRIVACY"],
		"Configs": {
			"HstsTopLevelNavigationsOnly": {
				"Type": "Feature",
				"Enable": true
			},
			"PartitionConnectionsByNetworkIsolationKey": {
				"Type": "Feature",
				"Enable": true
			},
			"ScopeMemoryCachePerContext": {
				"Type": "Feature",
				"Enable": true
			},
			"SplitCacheByIncludeCredentials": {
				"Type": "Feature",
				"Enable": true
			},
			"SplitCacheByNetworkIsolationKey": {
				"Type": "Feature",
				"Enable": true
			},
			"SplitCodeCacheByNetworkIsolationKey": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"printing-process-lpac": {
		"Description": "Enables various mitigations and restrictions for the printing process",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"PrintCompositorLPAC": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"reduce-accept-language-header": {
		"Description": "Reduces data transmitted by the Accept-Language header",
		"Tags": ["PRIVACY"],
		"Configs": {
			"ReduceAcceptLanguage": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"renderer-app-container": {
		"Description": "Enables AppContainer restrictions for renderer processes",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"RendererAppContainer": {
				"Type": "Feature",
				"Enable": true
			}
		}
	},
	"renderer-restrict-core-sharing": {
		"Description": "Enables core sharing restrictions for renderer processes to improve SMT/Hyperthreading related mitigations",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"WinSboxRestrictCoreSharingOnRenderer": {
				"Type": "Feature",
				"Enable": true,
				"Negates": ["renderer-restrict-core-sharing-policy"]
			}
		}
	},
	"renderer-restrict-core-sharing-policy": {
		"Description": "",
		"Tags": ["SECURITY", "WINDOWS_ONLY"],
		"Configs": {
			"RestrictCoreSharingOnRenderer": {
				"Type": "Policy",
				"Value": true
			}
		}
	},
	"show-full-urls": {
		"Description": "Strengthens origin isolation",
		"Tags": ["ANNOYANCE"],
		"Configs": {
			"ShowFullUrlsInAddressBar": {
				"Type": "Policy",
				"Value": true
			}
		}
	},
	"site-per-process": {
		"Description": "Make site isolation mandatory, disables opt-out",
		"Tags": ["SECURITY"],
		"Configs": {
			"SitePerProcess": {
				"Type": "Policy",
				"Value": true,
				"Negates": ["site-per-process-flag"]
			}
		}
	},
	"site-per-process-flag": {
		"Description": "",
		"Tags": ["SECURITY"],
		"Configs": {
			"site-per-process": {
				"Type": "Flag"
			}
		}
	},
	"strict-extension-validation": {
		"Description": "Strengthen verification of extensions",
		"Tags": ["SECURITY"],
		"Configs": {
			"extension-content-verification": {
				"Type": "Flag",
				"Arguments": ["enforce_strict"]
			},
			"extensions-install-verification": {
				"Type": "Flag",
				"Arguments": ["enforce_strict"]
			}
		}
	},
	"strict-origin-isolation": {
		"Description": "Strengthens origin isolation",
		"Tags": ["SECURITY"],
		"Configs": {
			"StrictOriginIsolation": {
				"Type": "Feature",
				"Enable": true
			}
		}
	}
}
